#canvas {
	border: 1px solid black;
}

body {
	display: flex;
	justify-content: end;
}

.btns {
	flex-direction: column;
	margin-top: 20px;
	margin-right: 50px;
}

.row {
	display: flex;
	justify-content: space-between
}

.btn {
	border-radius: 0;
	border: 0;
	margin: 0.5em;
	padding: 0.5em 1em 0.5em 1em;
}

.btn:hover {
	cursor: pointer;
}

.btn:not(:active) {
	box-shadow: none;
}

.btn:active {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.primary {
	background-color: rgb(132, 132, 250);
}

.access {
	background-color: rgb(18, 180, 18);
}

.danger {
	background-color: rgb(247, 84, 84);
}